[Unit]
Description=Service to monitor and manage system updates.
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/yumex_updater_systray
RestartSec=5
Restart=on-failure

[Install]
WantedBy=graphical-session.target

