/* center label in not implemented pages */
.page_label {
    font-size: 3em;
}

/* packagelist scrolledwindow */
.package_list {
    margin: 20px;
}

#version {
    margin-left: 10px;
}

#repo {
    margin-left: 10px;
}

/* packages page */
/* #packages {

} */

/* groups page */
/* #groups {

} */

/* queue page */
/* #queue {

} */


/* headers labels in packageview */
#package_view>header>button>box>label {
    font-size: 1.3em;
    padding-left: 1em;
    color: @accent_color;

}

/* header label for first column in packageview */
#package_view>header>button:first-child>box>label {
    padding-left: 5px;
    font-size: 2em;
}


.package-filter-row .title {
    font-size: .9em;
}

.sorting-row label {
    font-size: .8em;
}

.progress_title {
    font-size: 1.3em;
    color: @accent_color;
}

.progress_subtitle {
    font-size: .9em;
}