
/* center label in not implemented pages */
.page_label {
    font-size: 3em;
}

/* packagelist scrolledwindow */
.package_list {
    margin: 20px;
}

#version {
    margin-left: 10px;
}

#repo {
    margin-left: 10px;
}

/* packages page */
/* #packages {

} */

/* groups page */
/* #groups {

} */

/* queue page */
/* #queue {

} */


/* headers labels in packageview */
#package_view header button label {
    /* color: blue; */
    font-size: 1.2em;
    padding-left: 1em;
}

/* header label for first column in packageview */
#package_view header button:first-child label {
    /* color: blue; */
    padding-left: 5px;
    font-size: 2em;
}