/* center label in not implemented pages */
.page_label {
    font-size: 3em;
}

/* packagelist scrolledwindow */
.package_list {
    margin: 10px 10px 0px 10px;
}

#version,
#repo {
    margin-left: 10px;
}

/* packages page */
/* #packages {

} */

/* groups page */
/* #groups {

} */

/* queue page */
/* #queue {

} */


/* headers labels in packageview */
#package_view>header>button>box>label {
    font-size: 1.3em;
    padding-left: 1em;
    color: @accent_color;

}

/* header label for first column in packageview */
#package_view>header>button:first-child>box>label {
    padding-left: 5px;
    font-size: 2em;
}


.package-filter-row .title {
    font-size: .9em;
}

.sorting-row label {
    font-size: .8em;
}

.progress_title {
    font-size: 1.3em;
    color: @accent_color;
}

.progress_subtitle {
    font-size: .9em;
}

spinner {
    color: @accent_color;
    -gtk-icon-size: 32px;
}

.dependency {
    padding: 3px;
    margin-right: 5px;
    /* margin-top: 4px; */
    /* margin-bottom: 4px; */
    background-color: @warning_bg_color;
    color: @warning_fg_color;
    font-size: 0.6em;
    /* border: 1px solid; */
    border-radius: 5px;
    text-transform: uppercase;
}

/* .queue_row button {
    padding: 0px;
} */

.queue_row button image {
    color: @error_color;
    outline-offset: 2px;
}

/* Change icon on package filter when selected */
.checkmark check {
    border-radius: 100%;
}

/* Change icon on package filter when selected */
.checkmark check:checked {
    -gtk-icon-source: -gtk-icontheme('checkmark-symbolic');
    border-radius: 100%;
}

.flatpak_icon {
    -gtk-icon-size: 48px;
}

.icon36 {
    -gtk-icon-size: 36px;
}


.tag {
    /* padding: 5px; */
    margin-top: 5px;
    margin-right: 5px;
    padding: 2px 10px;
    background-color: @accent_bg_color;
    color: @accent_fg_color;
    font-size: 0.7em;
    font-stretch: condensed;
    border-radius: 10px;
    text-transform: uppercase;
}

.origin {
    background-color: @success_bg_color;
    color: @success_fg_color;
}

.flatpak_search {
    margin: 5px;
    background-color: @bg_color;
    padding: 5px 10px;
    outline: 0px;
}

.flatpak_search text {
    margin-left: 10px;
    margin-right: 10px;
}

.flatpak_num {
    border-radius: 10px;
    padding: 5px 5px;
    font-size: 0.8em;
    color: @success_fg_color;
    background-color: @success_bg_color;
}

.gpg_dialog text {
    font-family: monospace;
    margin-left: 10px;
    margin-right: 10px;
}

.problems {
    font-family: monospace;
    font-size: 0.9em;
    color: @error_color;
    padding: 1em;
}


.error_dialog label.body {
    font-family: monospace;
    font-size: 1.2em;
    color: @error_color;
}
